.article-header {
    text-decoration: none !important;
    --bs-text-opacity: 1;
    font-size: 1.6rem;
    color: var(--style-article-header-color);
}

/*.dark-theme .article-header {
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity)) !important;
}

.light-theme .article-header {
    color: #0F2804 !important;
}
*/

.article-summary {
    margin-top: 15px;
    font-size: 1rem;
    background-color: var(--style-article-summary-background-color);
    border-radius: 10px;
    background: var(--style-article-summary-background);
    /*background-color: black;*/
}

/*.light-theme .article-summary {
    margin-top: 15px;
    background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 86%, 0.7) 73%, hsla(0, 0%, 99%, 1) 100%);*/
    /*background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, hsla(240, 100%, 99%, 1) 73%, hsla(0, 0%, 99%, 1) 100%);*/
    /*background-color: var(--x-light-theme-background-color);*/
/*}*/


.article-summary-collapse {
    border-radius: 5px;
    border-left-color: PowderBlue !important;
    border-left: 2px;
    border-left-style: groove;
}

.article-content {
    padding: 5px;
}

    .article-content p {
        padding-bottom: 0;
    }


.article-button {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    float: right;
    border-radius: 5px;
    color: var(--style-article-button-color);
}

/*.dark-theme .article-button {
    color: white;
}

.light-theme .article-button {
    border-radius: 5px;
    color: black;
}*/

.article-header-link {
    text-decoration: none !important;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 gray;
    --bs-text-opacity: 1;
    font-size: 1.2rem;
    color: var(--style-article-header-color);
}

/*.dark-theme .article-header-link {
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity)) !important;
}

.light-theme .article-header-link {
    color: black !important;
}
*/
/*.x-markup-html-container {
    font-size: calc(12px + (4 * ((100vw - 400px) / 600)));
}*/

.tag-btn {
    text-decoration: none !important;
    --bs-text-opacity: 1;
    font-size: 0.9rem;
    color: var(--style-article-header-color);
}

.tag-btn-border {
    border-right: 1px solid gray;
    margin: 0px 6px 0px 8px;
}

/*.dark-theme .tag-btn {
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity)) !important;
}

.light-theme .tag-btn {
    color: black !important;
}*/

.image-box {
    display: block;
    max-height: 160px;
    height: 100%;
    width: auto;
    object-fit: scale-down;
    margin: 2px 15px 2px 2px;
}


.empty-box {
    width: 160px;
    height: auto;
    /*border: 1px solid black;*/
    background-color: transparent;
    /*background: linear-gradient(to right, #000000, #1a1a1a);*/
    margin: 0 15px 0 0;
}

.light-theme .empty-box {
    display: none;
}

.image-box, .empty-box {
/*    max-height: 160px;
    width: 160px;
*/
    /* Scale down based on the viewport width */
    /*height: calc(80px + 6vw);*/
    width: calc(80px + 6vw);
}

/*@media (max-width: 400px) {
    .x-markup-html-container {
        font-size: 12px;
    }
}

@media (min-width: 1000px) {
    .x-markup-html-container {
        font-size: 16px;
    }
}*/


@media (max-width: 640.98px) {
    .article-header {
        font-size: 1.1rem;
    }       

    .article-header-link {
        font-size: 1.0rem;
    }
}

@media (max-width: 600px) {
    .image-box {
        width: 50px;
        height:50px;
        /*width: auto;*/
    }
}
