@using NBlog.sdk
@using NBlogWeb3.Services
@using Toolbox.Extensions
@using Toolbox.Tools
@using Toolbox.Types

@if(_flow.State == 1)
{
    <nav class="x-container nav">
        <div class="title">@_title</div>
        @foreach (var item in _indexMap)
        {
            <div class="x-btn-left-menu-container nav-link d-flex align-items-center fw-600">
                <a class="x-btn-left-menu btn x-left-menu-link-text" href="@item.HRef">@item.Title</a>
            </div>
        }
    </nav>
}

@code {
    [CascadingParameter] public NBlogConfiguration Configuration { get; set; } = null!;
    [Inject] private ArticleMenuService _articleMenuService { get; init; } = null!;
    [Inject] private ManifestService _manifestService { get; init; } = null!;
    [Inject] private ILogger<ArticleMenu> _logger { get; init; } = null!;

    private SequentialState _flow = new SequentialState();
    private string? _articleId;
    private ArticleManifest? _articleManifest;
    private string _title = "default";
    private IReadOnlyList<IndexMap> _indexMap = Array.Empty<IndexMap>();

    protected override void OnInitialized()
    {
        _articleMenuService.OnChange += OnStateChange;
        base.OnInitialized();
    }

    public void Dispose() => _articleMenuService.OnChange -= OnStateChange;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _articleId = _articleMenuService.Get();
            await Load();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnStateChange()
    {
        _articleId = _articleMenuService.Get();
        StateHasChanged();
    }

    private async Task Load()
    {
        _articleManifest = null;
        _flow.Reset();
        _articleId = _articleMenuService.Get();
        _title = _articleManifest?.Title ?? "default";

        if (_articleId.IsEmpty()) return;

        var context = new ScopeContext(_logger);
        var articleManifestOption = await _manifestService.GetManifest(_articleId, context);
        if (articleManifestOption.IsError()) return;

        _articleManifest = articleManifestOption.Return();

        _indexMap = _articleManifest.GetCommands()
            .Where(x => x.IsIndexReference)
            .Select(x => new IndexMap { Title = x.FileIdValue, HRef = x.FileId })
            .ToArray();

        _flow.MoveState(1);
    }

    private record IndexMap
    {
        public required string Title { get; init; }
        public required string HRef { get; init; }
    }
}
