.x-container {
    margin: 10px 0 40px 10px;
}

@media (min-width: 641px) {
    .x-container {
        flex-direction: column;
    }
}

@media (max-width: 640.98px) {
    .x-container {
        margin: 10px 0 0 0px;
    }
}

.title {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0 0 10px 0;
}

.x-btn {
    color: var(--style-article-index-text-color);
    text-decoration: none;
    --bs-text-opacity: 1;
    font-size: 1rem;
    margin: 2px 0 2px 0;
    max-width: var(--layout-left-menu-size);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .x-btn:hover {
        opacity: 0.7;
    }

/*.x-left-menu-link-text {
    --bs-text-opacity: 1;
    font-size: 1rem;
    transition: transform 0.3s ease;
    color: var(--style-confignav-menu-link-color);
}

    .x-left-menu-link-text::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        transition: width 0.5s ease;
    }

    .x-left-menu-link-text:hover::after {
        width: 100%;
    }


.x-btn-left-menu-container {
    flex-basis: 50%;
}

.x-btn-left-menu {
    padding: 0;
}

    .x-btn-left-menu:hover {
        --bs-text-opacity: 1;
        transform: translate(1px, -1px);
    }


.x-lines {
    margin: 4px;
}

.x-left-menu-line {
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.1rem;
    word-spacing: normal;
    letter-spacing: normal;
    hyphens: auto;
}

@media (max-width: 640.98px) {
    .x-lines {
        display: none;
    }

    .x-left-menu-link-text {
        font-size: 1rem;
    }
}
*/
