.article-header {
    text-decoration: none !important;
    --bs-text-opacity: 1;
    font-size: 1.6rem;
}

.dark-theme .article-header {
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity)) !important;
}

.light-theme .article-header {
    color: #0F2804 !important;
}


.article-summary {
    margin-top: 10px;
    font-size: 1rem;
}

.light-theme .article-summary {
    margin-top: 15px;
    background: linear-gradient(135deg, rgba(239,239,239,1) 0%, rgba(224,224,224,.8) 100%);
}


.article-summary-collapse {
    border-radius: 5px;
    border-left-color: PowderBlue !important;
    border-left: 2px;
    border-left-style: groove;
}

.article-content {
    padding: 5px;
}

    .article-content p {
        padding-bottom: 0;
    }


.article-button {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    float: right;
}

.dark-theme .article-button {
    color: white;
}

.light-theme .article-button {
    border-radius: 5px;
    color: black;
}



.dark-theme .article-header-link {
    text-decoration: none !important;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 gray;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity)) !important;
    font-size: 1.2rem;
}

.light-theme .article-header-link {
    text-decoration: none !important;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 gray;
    --bs-text-opacity: 1;
    color: black !important;
    font-size: 1.2rem;
}

.article-summary-hr {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 10px 0; /* Adjust margin as needed */
}

.tag-btn {
    text-decoration: none !important;
    --bs-text-opacity: 1;
    font-size: 0.9rem;
}

.tag-btn-border {
    border-right: 1px solid gray;
    margin: 0px 6px 0px 8px;
}

.dark-theme .tag-btn {
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity)) !important;
}

.light-theme .tag-btn {
    color: black !important;
}

.image-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 160px;
    object-fit: scale-down;
    margin: 0 15px 0 0;
}

.empty-box {
    width: 160px;
    height: 160px;
    /*border: 1px solid black;*/
    background-color: transparent;
    /*background: linear-gradient(to right, #000000, #1a1a1a);*/
    margin: 0 15px 0 0;
}

@media (max-width: 640.98px) {
    .dark-theme .article-header {
        font-size: 1.1rem;
    }

    .light-theme .article-header {
        font-size: 1.1rem;
    }

    .dark-theme .article-header-link {
        font-size: 1.1rem;
    }

    .light-theme .article-header-link {
        font-size: 1.1rem;
    }
}

@media (max-width: 900px) {
    .image-box {
        display: none;
    }
}
