.x-container {
    margin: 10px 0 0 10px;
}

@media (min-width: 641px) {
    .x-container {
        flex-direction: column;
    }
}

@media (max-width: 640.98px) {
    .x-container {
        margin: 10px 0 0 0px;
    }
}

.x-left-menu-link-text {
    --bs-text-opacity: 1;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

    .x-left-menu-link-text::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px; /* Adjust line thickness */
        transition: width 0.5s ease;
    }

    .x-left-menu-link-text:hover::after {
        width: 100%;
    }


.dark-theme .x-left-menu-link-text {
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity));
}

    .dark-theme .x-left-menu-link-text::after {
        background-color: white; /* Line color */
    }

.light-theme .x-left-menu-link-text {
    color: #0F2804;
}

    .light-theme .x-left-menu-link-text::after {
        background-color: black; /* Line color */
    }

.x-btn-left-menu-container {
    flex-basis: 50%;
}

.x-btn-left-menu {
    padding: 0;
}

    .x-btn-left-menu:hover {
        --bs-text-opacity: 1;
        transform: translate(1px, -1px);
    }

.dark-theme .x-btn-left-menu:hover {
    color: #0df0a5;
}

.light-theme .x-btn-left-menu:hover {
    color: #3B9E11;
}

.x-lines {
    margin: 4px;
}

.x-left-menu-line {
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.1rem;
    word-spacing: normal;
    letter-spacing: normal;
    hyphens: auto;
}

@media (max-width: 640.98px) {
    .x-lines {
        display: none;
    }

    .dark-theme .x-left-menu-link-text {
        font-size: 1rem;
    }

    .light-theme .x-left-menu-link-text {
        font-size: 1rem;
    }
}
