@using NBlog.sdk

<nav class="x-container nav">
    @foreach (var item in _indexMap)
    {
        <div class="x-btn-left-menu-container nav-link d-flex align-items-center fw-600">
            @((MarkupString)item.SvcCommand)
            <a class="x-btn-left-menu btn x-left-menu-link-text" href="@item.HRef">@item.Title</a>
        </div>
    }
</nav>

<div class="x-lines m-4">
    <div>
        @foreach (var line in _lines)
        {
            <p class="x-left-menu-line">@line</p>
        }
    </div>
</div>

@code {
    // [CascadingParameter] RouteData RouteData { get; set; } = null!;
    [CascadingParameter] public NBlogConfiguration Configuration { get; set; } = null!;
    [Inject] private ILogger<ConfigurationMenu> _logger { get; init; } = null!;

    private IReadOnlyList<IndexMap> _indexMap = Array.Empty<IndexMap>();
    private IReadOnlyList<string> _lines = [""];

    protected override void OnParametersSet()
    {
        if (Configuration == null) return;

        _lines = Configuration.OverviewPanel.Lines.ToArray();

        _indexMap = Configuration.OverviewPanel.Menus
            .OrderBy(x => x.OrderIndex)
            .Select(x => new IndexMap
                {
                    Title = x.Title,
                    SvcCommand = CreateSvg(x.IconName, x.IconColor),
                    HRef = x.HRef,
                })
            .ToArray();

        base.OnParametersSet();
    }

    private static string CreateSvg(string iconName, string color)
    {
        return $"<svg class=\"bi me-2 f5\" style=\"color: {color} !important\"><use xlink:href=#{iconName}></use></svg>";
    }

    private record IndexMap
    {
        public required string Title { get; init; }
        public required string SvcCommand { get; init; }
        public required string HRef { get; init; }
    }
}
