@using NBlog.sdk
<div class="x-menu-container">
    <div class="x-menu-items-container">
        <div class="x-menu-title">
            <span>Consulting Services</span>
        </div>
        @*         <a class="x-menu-button" href="#products">Product</a>
        <a class="x-menu-button" href="#solitions">Solutions</a>
        <a class="x-menu-button" href="#prices">Pricing</a>
        <a class="x-menu-button" href="#contact-me">Contact Me</a>
        <a class="x-menu-button" href="/home">My Blog</a>
        *@
        <a class="x-menu-button" onclick="document.getElementById('products').scrollIntoView({behavior:'smooth'})">Product</a>
        <a class="x-menu-button" onclick="document.getElementById('solitions').scrollIntoView({behavior:'smooth'})">Solutions</a>
        <a class="x-menu-button" onclick="document.getElementById('prices').scrollIntoView({behavior:'smooth'})">Pricing</a>
        <a class="x-menu-button" onclick="document.getElementById('contact-me').scrollIntoView({behavior:'smooth'})">Contact Me</a>
        <a class="x-menu-button" href=@NavRoutes.GotoHome()>My Blog</a>
    </div>
</div>