<button @onclick="Click" class="button-one" aria-controls="primary-navigation" aria-expanded=@_expanded>
    <svg fill="var(--button-color)" class="hamburger" viewBox="0 0 100 100" width="40">
        <rect class="line top" width="80" height="7" x="10" y="25" rx="5">
        </rect>
        <rect class="line middle" width="80" height="7" x="10" y="45" rx="5">
        </rect>
        <rect class="line bottom" width="80" height="7" x="10" y="65" rx="5">
        </rect>
    </svg>
</button>

@code {
    [Parameter] public bool Open { get; init; }
    [Parameter] public EventCallback OnClick { get; init; }

    private string _expanded => Open ? "true" : "false";

    private async Task Click() => await OnClick.InvokeAsync();
}