.x-container {
    width: 100%;
    padding: 10px;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.x-group-text {
    padding: 2px 0px 2px 0px;
    color: var(--style-leftnav-group-text);
    font-size: 1.1rem;
    font-weight: 600;
}
/*
.light-theme .x-group-text {
    color: darkgray;
}
*/
.x-btn-link-container {
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
}

.x-btn-link {
    color: var(--style-leftnav-group-text);
    border-color: transparent;
    font-size: 0.9rem;
    text-align: left !important;
    padding-left: 0;
    padding-bottom: 0;
    flex-basis: 50%;
}

.x-content-menu {
    font-weight: 500;
    font-size: 0.9rem;
}
/*
.light-theme .x-btn-link {
    color: var(--style-light-theme-background-color);
}
*/
/*.x-left-menu-link-text {
    --bs-text-opacity: 1;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

    .x-left-menu-link-text::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;*/ /* Adjust line thickness */
        /*transition: width 0.5s ease;
    }

    .x-left-menu-link-text:hover::after {
        width: 100%;
    }


.dark-theme .x-left-menu-link-text {
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity));
}

    .dark-theme .x-left-menu-link-text::after {
        background-color: white;*/ /* Line color */
    /*}

.light-theme .x-left-menu-link-text {
    color: #0F2804;
}

    .light-theme .x-left-menu-link-text::after {
        background-color: black;*/ /* Line color */
    /*}


@media (max-width: 640.98px) {
    .dark-theme .x-left-menu-link-text {
        font-size: 1rem;
    }

    .light-theme .x-left-menu-link-text {
        font-size: 1rem;
    }
}*/
