/*
@media (min-width: 641px) {
    .x-container {
        flex-direction: column;
    }
}*/

.x-container {
    margin: 0px 20px 0px 20px;
}

.x-group-container {
    padding-top: 10px;
    padding-bottom: 1px;
}

.x-group-text {
    padding: 2px 0px 2px 0px;
    color: DarkSlateGray;
    font-size: 1.1rem;
}

.light-theme .x-group-text {
    color: darkgray;
}

.x-btn-link-container {
    flex-wrap: wrap;
}

.x-btn-link {
    color: black;
    border-color: transparent;
    margin: 0px 10px 0px 0px;
    font-size: 0.9rem;
    text-align: left !important;
    padding-left: 0;
    padding-bottom: 0;
}

.light-theme .x-btn-link {
    color: var(--x-light-theme-background-color);
}

.x-left-menu-link-text {
    --bs-text-opacity: 1;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

    .x-left-menu-link-text::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px; /* Adjust line thickness */
        transition: width 0.5s ease;
    }

    .x-left-menu-link-text:hover::after {
        width: 100%;
    }


.dark-theme .x-left-menu-link-text {
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity));
}

    .dark-theme .x-left-menu-link-text::after {
        background-color: white; /* Line color */
    }

.light-theme .x-left-menu-link-text {
    color: #0F2804;
}

    .light-theme .x-left-menu-link-text::after {
        background-color: black; /* Line color */
    }


@media (max-width: 640.98px) {
    .dark-theme .x-left-menu-link-text {
        font-size: 1rem;
    }

    .light-theme .x-left-menu-link-text {
        font-size: 1rem;
    }
}
