.x-container {
    width: 100%;
    padding: 10px;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.x-group-text {
    padding: 2px 0px 2px 0px;
    color: var(--style-leftnav-group-text);
    font-size: 1.1rem;
    font-weight: 600;
}

.x-btn-link-container {
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
}

.x-btn-link {
    color: var(--style-leftnav-group-text);
    border-color: transparent;
    font-size: 0.9rem;
    text-align: left !important;
    padding-left: 0;
    padding-bottom: 0;
    flex-basis: 50%;
}

.x-content-menu {
    font-weight: 500;
    font-size: 0.9rem;
}
