/*.left-menu-header {
    font-weight: 600;
    line-height: 1.2;*/
    /*font-size: calc(1.375rem + 1.5vw);*/
    /*font-family: 'Times New Roman';
    font-size: 1.5rem;
}*/

.left-menu-line {
    font-weight: 300;
    line-height: 1.2;
    /*font-size: calc(1.375rem + 1.5vw);*/
    font-family: 'Times New Roman';
    font-size: 1.2rem;
}

.dark-theme .left-menu-link-text {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity)) !important;
}

.btn-left-menu {
    padding: 0;
}


.dark-theme .btn-left-menu:hover {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-info-highlight-rgb),var(--bs-text-opacity)) !important;
}


.light-theme .left-menu-link-text {
    color: black !important;
}


/*
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item ::deep a.active {
        background-color: rgba(255,255,255,0.37);
        color: white;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }*/