@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using NBlog.sdk
@using Toolbox.Tools


@if (_flow.State == 1)
{
    @* <SlideLeftMenu /> *@
    <ConfigurationMenu />

    <div class="x-lines m-4">
        <div>
            @foreach (var line in _lines)
            {
                <p class="x-left-menu-line">@line</p>
            }
        </div>
    </div>
}

@code {
    [CascadingParameter] public NBlogConfiguration Configuration { get; set; } = null!;
    [Inject] private ILogger<LeftMenuContainer> _logger { get; init; } = null!;

    private SequentialState _flow = new SequentialState();
    private IReadOnlyList<string> _lines = [""];

    protected override void OnParametersSet()
    {
        if (Configuration == null) return;

        _flow.MoveState(1);
        _lines = Configuration.OverviewPanel.Lines.ToArray();
        base.OnParametersSet();
    }
}
