.loading-panel {
    width: 100%;
    border-radius: var(--bs-border-radius) !important;
    text-align: center !important;
    padding: 3rem !important;
    margin-top: 1.5rem !important;
}

.dark-theme .loading-panel {
    background-image: linear-gradient(to bottom, rgba(var(--loading-color-bg), 1), rgba(var(--loading-color-bg), 0.8));
}

.light-theme .loading-panel {
    background-image: linear-gradient(to bottom, rgba(131,153,162, 1), rgba(238,242,243, 0.95));
}

.loading-big {
    height: 200px;
}

.loading-small {
    height: 20px;
}

