.x-navbar-container {
    max-width: 1200px;
}

.x-nvarbar-brand-container {
    min-width: 200px;
}

.x-navbar-brand {
    font-size: 1rem;
    color: black;
    padding-right: 20px;
}

.x-navbar-brand-container {
    opacity: 0.9;
}

.x-icon-svg {
    max-width: 64px;
}

.dark-theme .x-top-menu-title {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    font-style: italic;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.light-theme .x-top-menu-title {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    font-style: italic;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.x-top-menu-inputbox {
    padding: .375rem .75rem;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 250px;
    max-height: 35px;
}

.x-top-menu-search-button {
    margin-top: 4px;
    max-height: 35px;
    padding: 0rem .75rem;
    opacity: 0.8;
}

.x-contact-link {
    padding-top: 9px;
    padding-right: 10px;
    color: black;
    opacity: 0.8;
}

.x-btn-icon-container {
    padding-top: 2px;
    display: none;
    padding-top: 10px;
}


@media (max-width: 640.98px) {
    .x-nvarbar-brand-container {
        min-width: 64px;
    }

    .x-top-menu-title {
        display: none;
    }

    .x-btn-icon-container {
        display: block;
    }

    .x-top-menu-search-button {
        display: none;
    }

    .x-contact-link {
        display: none;
    }

    .x-navbar-brand-container {
        display: none;
    }
}
