@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler


<AuthorizeView>
    <Authorized>
        @if (user == null)
        {
            <span>Hello, @context.User.Identity?.Name!</span>
        }
        else
        {
            <MudButton Color="Color.Primary" Variant="Variant.Outlined"
                       StartIcon=@Icons.Material.Outlined.PeopleAlt DisableElevation=true Style="text-transform: none;color:white;">
                @(user.DisplayName)
            </MudButton>
        }
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt">Log In</MudIconButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}
