:root {
    --bd-body-bg: #212529;
    --bd-color: #dee2e6;
    --bs-info-rgb: 13,202,240;
    --x-light-theme-background-color: #FDFEFE;
    --bd-newcolor-rgb: 120,236,71;
    --bd-teal-rgb: 32,201,151;
    --bd-pre-bg: #1b1f22;
    --style-white-color: white;
    --style-black-color: black;
    --style-error-color: red;
    --style-btn-color: white;
    --style-btn-background-color: #FE071B;
    --style-btn-hover: #FE4C5C;
    --style-btn-press: black;
    --style-link-color-rgb: #0D6EFD;
    --layout-left-menu-size: 250px;
}

.dark-theme {
    --style-background-color: #212529;
    --style-text-color: #dee2e6;
    --style-scroll-to-top-text-color: black;
    --style-scroll-to-top-background-color: rgba(120,236,7);
    --style-topNav-background-color-rgb: 120,236,71;
    --style-topNav-background-image: linear-gradient(to bottom, rgba(var(--style-topNav-background-color-rgb), 1), rgba(var(--style-topNav-background-color-rgb), 0.95));
    --style-light-theme-background-color: #FDFEFE;
    --style-loading-background-color: #333333;
    --style-leftnav-group-text: darkslategray;
    --style-confignav-menu-link-color: rgba(var(--bs-info-rgb),var(--bs-text-opacity));
    --style-article-header-color: rgba(var(--bs-info-rgb),var(--bs-text-opacity));
    --style-article-summary-background-color: #181818;
    --style-article-summary-background: var(--style-background-color);
    --style-article-index-text-color: #0dcaf0;
}

.light-theme {
    --style-background-color: white;
    --style-text-color: DarkSlateGray;
    --style-scroll-to-top-text-color: black;
    --style-scroll-to-top-background-color: rgba(93,138,203,.6);
    --style-topNav-background-color-rgb: 120,236,71;
    --style-topNav-background-image: linear-gradient(to bottom, rgba(var(--style-topNav-background-color-rgb), 1), rgba(var(--style-topNav-background-color-rgb), 0.95));
    --style-light-theme-background-color: #FDFEFE;
    --style-loading-background-color: #333333;
    --style-leftnav-group-text: darkslategray;
    --style-confignav-menu-link-color: #0F2804;
    --style-article-header-color: #0F2804;
    --style-article-summary-background-color: inherit;
    --style-article-summary-background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 86%, 0.7) 73%, hsla(0, 0%, 99%, 1) 100%);
    --style-link-text-color: var(--style-black-color);
}

.app-body {
    margin: 0;
    color: var(--style-text-color);
    background-color: var(--style-background-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.scroll-to-top {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--style-scroll-to-top-background-color),.6);
    color: var(--style-scroll-to-top-text-color);
}


.bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

.x-body-container {
    max-width: 900px;
}


.underline-from-left {
    position: relative;
    text-decoration: none;
}

    .underline-from-left::before {
        content: '';
        position: absolute;
        bottom: -2px; /* Adjust the position as needed */
        left: 0;
        width: 0;
        height: 1px; /* Adjust the line thickness as needed */
        transform-origin: left;
        background-color: gray; /* Line color */
        transition: width 0.3s ease;
    }

    .underline-from-left:hover::before {
        width: 100%;
        transform-origin: right;
    }


.thin-hr {
    width: 100%;
    height: 1px;
    background-color: gray;
    /*margin: 10px 0;*/ /* Adjust margin as needed */
}

.x-markup-html-container {
    font-size: calc(12px + (4 * ((100vw - 400px) / 600)));
}

@media (max-width: 400px) {
    .x-markup-html-container {
        font-size: 12px;
    }
}

@media (min-width: 1000px) {
    .x-markup-html-container {
        font-size: 16px;
    }
}
