:root {
    --bd-body-bg: #212529;
    --bd-color: #dee2e6;
    --bs-info-rgb: 13,202,240;
    --bs-info-highlight-rgb: 13, 242, 108;
    --loading-color-bg: 45, 45, 45;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
    --x-light-theme-background-color: #FDFEFE;

    /*  */
    /* Unknow usage */
    /*  */
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-newcolor-rgb: 120,236,71;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
    --bd-teal-rgb: 32,201,151;
    --bd-violet-bg: var(--bd-violet);
    --bd-toc-color: var(--bd-violet);
    --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
    --bd-callout-link: 10,88,202;
    --bd-callout-code-color: #ab296a;
    --bd-pre-bg: #1b1f22;
}

.dark-theme .app-body {
    margin: 0;
/*    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);*/
    color: var(--bd-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bd-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.light-theme .app-body {
    margin: 0;
    /*    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
*/ color: DarkSlateGray;
    text-align: var(--bs-body-text-align);
    background-color: var(--x-light-theme-background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.scroll-to-top {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bd-newcolor-rgb),.6);
    color: black;
}

.light-theme .scroll-to-top {
    --bs-bg-opacity: 1;
    background-image: linear-gradient(180deg, rgba(93,138,203,1) 0%, rgba(112,167,247,1) 100%);
    color: black;
}

.bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

.x-body-container {
    max-width: 900px;
}


.underline-from-left {
    position: relative;
    text-decoration: none;
}

    .underline-from-left::before {
        content: '';
        position: absolute;
        bottom: -2px; /* Adjust the position as needed */
        left: 0;
        width: 0;
        height: 1px; /* Adjust the line thickness as needed */
        transform-origin: left;
        background-color: gray; /* Line color */
        transition: width 0.3s ease;
    }

    .underline-from-left:hover::before {
        width: 100%;
        transform-origin: right;
    }


.thin-hr {
    width: 100%;
    height: 1px;
    background-color: gray;
    /*margin: 10px 0;*/ /* Adjust margin as needed */
}

.x-markup-html-container {
    font-size: calc(12px + (4 * ((100vw - 400px) / 600)));
}

@media (max-width: 400px) {
    .x-markup-html-container {
        font-size: 12px;
    }
}

@media (min-width: 1000px) {
    .x-markup-html-container {
        font-size: 16px;
    }
}