.text-scale-12-16 {
    /*font-size: calc(16px + (4 * ((100vw - 400px) / 600)));*/
    font-size: calc(12px + (16 - 12) * (100vw - 400px) / (800 - 400));
}

.text-scale-14-18 {
    font-size: calc(14px + (18 - 14) * (100vw - 400px) / (800 - 400));
}

.text-scale-18-24 {
    font-size: calc(18px + (24 - 18) * (100vw - 400px) / (800 - 400));
}

.text-scale-24-48 {
    font-size: calc(24px + (48 - 24) * (100vw - 400px) / (1200 - 400));
}

@media (max-width: 400px) {
    .text-scale-12-16 {
        font-size: 12px;
    }

    .text-scale-14-18 {
        font-size: 14px;
    }

    .text-scale-18-24 {
        font-size: 18px;
    }

    .text-scale-24-48 {
        font-size: 24px;
    }

}

@media (min-width: 1000px) {
    .text-scale-12-16 {
        font-size: 16px;
    }

    .text-scale-14-18 {
        font-size: 18px;
    }

    .text-scale-18-24 {
        font-size: 24px;
    }

    .text-scale-24-48 {
        font-size: 48px;
    }
}
