@page "/NotFound/{code}"
@using NBlog.sdk
@using NBlogWeb3.Components.Controls
@layout Layout.FullPageLayout

<PageTitle>Kelvin Hoover</PageTitle>

<div>
    <ShowRouteError Title="@_message" />
</div>

@code {
    [Parameter] public string Code { get; init; } = null!;

    private string _message { get; set; } = null!;

    protected override void OnParametersSet()
    {
        _message = Code switch
        {
            "404" => "Resource not found (404)",
            _ => Code,
        };
    }
}
