/*.summary-container {
    max-width: 900px;
}
*/

.summary-header-bar {
    display: flex;
    margin-bottom: 2px;
    height: 20px;
    margin-right: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}

.summary-header-text-container {
    flex: 1;
}

.summary-header-title {
    font-size: 1.2rem;
    padding: 0 5px 0 0;
}

.summary-header-text {
    border: 0;
    font-size: 1.1rem;
}

.summary-header-button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    opacity: 0.5;
}

.dark-theme .summary-header-button {
    color: white;
}

    .dark-theme .summary-header-button:hover {
        opacity: 1;
    }

.light-theme .summary-header-button {
    color: black;
}

    .light-theme .summary-header-button:hover {
        opacity: 1;
    }
