<div style="@_style">
    <FluentStack Orientation="Orientation.Vertical">
        <FluentLabel>@Message</FluentLabel>

        <FluentStack Orientation="Orientation.Horizontal">
            <FluentButton Appearance="Appearance.Stealth" OnClick="OnYes">Yes</FluentButton>
            <FluentButton Appearance="Appearance.Accent" OnClick="OnNo">No</FluentButton>
        </FluentStack>
    </FluentStack>
</div>

@code {
    [Parameter] public string Message { get; set; } = null!;
    [Parameter] public bool IsAlert { get; set; }
    [Parameter] public EventCallback OnYes { get; set; }
    [Parameter] public EventCallback OnNo { get; set; }

    private const string _alertStyle = "margin: 10px;padding: 10px;border: 1px groove red";
    private const string _normalStyle = "margin: 10px;padding: 10px;border: 1px groove gray";
    private string _style = _normalStyle;

    private Appearance _yesApperance = Appearance.Stealth;
    private Appearance _noApperance = Appearance.Accent;

    protected override void OnParametersSet()
    {
        (_style, _yesApperance, _noApperance) = IsAlert switch
        {
            true => (_alertStyle, Appearance.Stealth, Appearance.Accent),
            false => (_normalStyle, Appearance.Accent, Appearance.Stealth)
        };
    }

    private Task YesEvent() => OnYes.InvokeAsync();
    private Task NoEvent() => OnNo.InvokeAsync();
}
