<div style="@(Loading ? "display:block;" : "display:none;")">
    <div style="min-width:300px; width: 100%">
        <p>Please wait...</p>
        <FluentProgress />
    </div>
</div>

@code {
    [Parameter] public bool Loading { get; set; }
}