.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


.x-top-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    height: 3.5rem;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    background-color: transparent;
    background-image: var(--style-topNav-background-image);
    /*background-image: linear-gradient(to bottom, rgba(var(--bd-newcolor-rgb), 1), rgba(var(--bd-newcolor-rgb), 0.95));*/
}


.x-left-menu-sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.x-left-menu-container {
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 250px;
    height: calc(100% - 50px);
    overflow-y: auto;
}


.x-main-content-container {
    margin-left: 0px; /* Width of the left navigation */
    margin-top: 3.2rem; /* Height of the top navigation toolbar */
    overflow-y: auto; /* Allows independent scrolling */
    height: calc(100vh - 3.2rem); /* Full viewport height minus the toolbar height */
    padding: 20px; /* Optional padding */
}

.x-main-content-menu-container {
    display: none;
}

.x-main-configuration-container {
    display: none;
}

@media (max-width: 640.98px) {
    .x-main-content-menu-container {
        display: block;
    }

    .x-left-menu-sidebar {
        display: none;
    }

    .x-main-configuration-container {
        display: block;
    }

    .x-main-content-container {
        padding: 2px;
    }
}


@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
