.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
}


.x-top-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    height: 3.5rem;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-newcolor-rgb), 1), rgba(var(--bd-newcolor-rgb), 0.95));
}


.x-left-menu-sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.x-left-menu-container {
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 250px;
    height: calc(100% - 50px);
    overflow-y: auto;
}


.x-main-content-container {
    margin-left: 0px; /* Width of the left navigation */
    margin-top: 3.2rem; /* Height of the top navigation toolbar */
    overflow-y: auto; /* Allows independent scrolling */
    height: calc(100vh - 3.2rem); /* Full viewport height minus the toolbar height */
    padding: 20px; /* Optional padding */
}

.x-main-content-menu-container {
    display: none;
}

.x-main-configuration-container {
    display: none;
}

@media (max-width: 640.98px) {
    .x-main-content-menu-container {
        display: block;
    }

    .x-left-menu-sidebar {
        display: none;
    }

    .x-main-configuration-container {
        display: block;
    }
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    /*    display: flex;
    align-items: center;
*/
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        /*margin-left: 1.5rem;*/
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 400px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .top-row-top-menu {
        padding-left: 0 !important;
    }
}
