<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="icon" type="image/png" href="Images/khicon.svg" />
    <link rel="stylesheet" href="NBlogWeb.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>

@code {
    [Inject] public NavigationManager _navManager { get; init; } = null!;

    protected override void OnInitialized() => _navManager.LocationChanged += HandleLocationChanged!;

    private void HandleLocationChanged(object sender, LocationChangedEventArgs args)
    {
        if (args.Location == "/404")
        {
            _navManager.NavigateTo("/");
        }
    }
}