.x-menu-container {
    height: 3.5rem;
    height: 3.5rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    background-color: transparent;
}

.x-menu-items-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    margin: 10px 0 10px 0;
    color: black;
    font-weight: 600;
}

.x-menu-title {
    font-size: 1.7rem;
    margin: 0 40px 0 10px;
}

.x-menu-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    padding: 4px 10px 4px 8px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    color: black;
}

    .x-menu-button:hover {
        animation: colorChange 1s forwards, fuzzyBorder 1s;
        animation-fill-mode: forwards;
    }


@keyframes colorChange {
    from {
        background-color: transparent;
        color: black;
    }

    to {
        background-color: rgb(55, 55, 55);
        color: white;
    }
}

@keyframes fuzzyBorder {
    0% {
        box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8);
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1;
}

.bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: black;
    /* background-color: white; */
    margin: 2px 0 1px 0;
}

.back-to-top-button {
    border: 1px solid black;
    padding: 0 2px 0 2px;
    border-radius: 4px;
    background-color: #5cff00;
}

@media (max-width: 900px) {
    .x-menu-button {
        display: none;
    }
}

@media (max-width: 640.98px) {
    .x-menu-title {
        font-size: 1.3rem;
    }
}
