#gradient {
    position: fixed;
    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
    border: 01px solid transparent;
    background: linear-gradient(130deg, #ff7e00, #ffffff, #5cff00);
    background-size: 200% 200%;
    -webkit-animation: Animation 20s ease infinite;
    -moz-animation: Animation 20s ease infinite;
    animation: Animation 20s ease infinite;
    clip-path: polygon(0 0, 100% 0, 100% 20px, 50% 55%, 0 100%);
    border-radius: 2px;
    z-index: -1;
}

@-webkit-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}
