.alert-info {
    background-color: #f5f5f5;
    border: 1px solid #d1d1d1;
}

.alert-dark-info {
    background-color: #141414;
    border: 1px solid #666;
}

.alert-warning {
    background-color: #FDF6F3;
    border: 1px solid #f4bfab;
}

.alert-dark-warning {
    background-color: #411200;
    border: 1px solid #DA3B01;
}

.alert-error {
    background-color: #FDF3F4;
    border: 1px solid #f1bbbc;
}

.alert-dark-error {
    background-color: #3F1011;
    border: 1px solid #D13438;
}

.alert-success {
    background-color: #f1faf1;
    border: 1px solid #9fd89f;
}

.alert-dark-success {
    background-color: #052505;
    border: 1px solid #107C10;
}
