.row-provider {
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.x-btn {
    width: 100%;
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding: 8px 12px;
    border: 0;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}