@page "/marathonSearch"
@using RaceAlive.sdk
@using RaceAliveWeb.Components.Controls

<div class="block-container">
    <MudText Typo="Typo.h5" GutterBottom="true">Search Marathons</MudText>

    <BlockToolBar OnSearch=OnSearch>
        <CalendarTable List=GetMarathons() OnSelect=OnRowSelect SelectedRowId=@_id />
    </BlockToolBar>
</div>

@code {
    @inject MarathonScheduleClient _scheduleClient;
    @inject NavigationManager _nav;

    private IReadOnlyList<MarathonScheduleModel> _schedules = [];

    private string? _id;
    private string? _search;

    protected override async Task OnInitializedAsync()
    {
        _schedules = (await _scheduleClient.GetMarathonSchedule()).ThrowOnError().Return();
    }

    private IReadOnlyList<MarathonScheduleModel> GetMarathons() => _schedules
        .Where(x => _search.IsEmpty() || x.IsMatch(_search))
        .ToArray();

    private void OnRowSelect(string id)
    {
        _id = id;
        _nav.GotoMarathonProfile(id, NavHelper.MarathonSearchPath);
    }

    private Task OnSearch(string? search)
    {
        _search = search;
        return Task.CompletedTask;
    }
}
