@rendermode InteractiveServer

<Symbols />

<div class="sidebar">
    <div class="masthead pt-5">
        <div class="mb-4 text-lg-start">
            <div class="ms-3 ms-lg-0">
                <h1 class="mb-1 mb-lg-2 f1 fw-600">Secrets of .NET and Cloud</h1>
                <p class="col-sm-8 col-lg-12 mx-auto mb-1 mb-lg-4">
                    .NET has evolved rapidly since its inception as an open-source and
                    cross-platform framework.
                </p>
                <p class="col-sm-8 col-lg-12 mx-auto mb-1 mb-lg-4 d-none d-lg-block">
                    The newest version introduces advanced features that enhance performance and security,
                    while also offering more convenience and productivity for developers.
                </p>
            </div>
        </div>

        <nav class="nav nav-pills justify-content-center flex-lg-column justify-content-lg-start gap-1">
            <dev class="nav-link d-flex align-items-center fw-600">
                <svg class="bi me-2 f5 text-warning"><use xlink:href="#file-earmark-richtext"></use></svg>
                <a class="btn btn-left-menu text-info" href="/">Current</a>
            </dev>
            <dev class="nav-link d-flex align-items-center fw-600">
                <svg class="bi me-2 f5" style="color: yellow"><use xlink:href="#sun-fill"></use></svg>
                <a class="btn btn-left-menu text-info" href="/summary/area/tools">Tools</a>
            </dev>
            <dev class="nav-link d-flex align-items-center fw-600">
                <svg class="bi me-2 f5" style="color: red" sty><use xlink:href="#check2"></use></svg>
                <a class="btn btn-left-menu text-info" href="/summary/area/strategy">Guidance</a>
            </dev>
            <dev class="nav-link d-flex align-items-center fw-600">
                <svg class="bi me-2 f5" style="color: Magenta"><use xlink:href="#file-earmark-richtext"></use></svg>
                <a class="btn btn-left-menu text-info" href="/history">Archives</a>
            </dev>
            <dev class="nav-link d-flex align-items-center fw-600">
                <svg class="bi me-2 f5 text-success"><use xlink:href="#arrow-right-square"></use></svg>
                <a class="btn btn-left-menu text-info" @onclick=IndexEvent>Index</a>
            </dev>
        </nav>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback ShowIndex { get; set; }

    private async Task IndexEvent()
    {
        await ShowIndex.InvokeAsync();
    }
}