.loading-big {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(var(--loading-color-bg), 1), rgba(var(--loading-color-bg), 0.95));
    border-radius: var(--bs-border-radius) !important;
    text-align: center !important;
    padding: 3rem !important;
    margin-top: 1.5rem !important;
}

.loading-small {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to bottom, rgba(var(--loading-color-bg), 1), rgba(var(--loading-color-bg), 0.95));
    border-radius: var(--bs-border-radius) !important;
    text-align: center !important;
    padding: 1rem !important;
    margin-top: 1.5rem !important;
}
