@using NBlog.sdk
@inherits LayoutComponentBase

<div>
    <TopMenuBar DbName="@_dbName" />

    <div class="container-xxl px-4 px-xxl-2">
        <div class="d-lg-grid content">
            <div>
                <LeftColumn DbName="@_dbName" />
            </div>
            <div class="main">
                <main>
                    <article class="content p-4">
                        @Body
                    </article>
                </main>
            </div>
        </div>
    </div>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [CascadingParameter] RouteData RouteData { get; set; } = null!;
    private string? _dbName;

    protected override void OnInitialized()
    {
        _dbName = null;
        if (RouteData == null) return;

        if( RouteData.RouteValues.TryGetValue("dbName", out var value))
        {
            _dbName = value as string;
        }

        return;
    }
}
