@using NBlog.sdk
@using Toolbox.Extensions
@rendermode InteractiveServer

<header class="navbar navbar-expand-lg navbar-light bd-navbar sticky-top">
    <nav class="container-xxl flex-wrap flex-lg-nowrap" aria-label="Main navigation">
        <div class="d-lg-none" style="width: 2.24rem;"></div>
        <dev>
            <a href="">
                <img src="/Images/khicon.svg" class="img-fluid" style="max-width: 64px;" aria-label="KH" />
            </a>
        </dev>
        <div>
            <span class="collapse navbar-collapse" style="color:black;margin-right:30px;font-size:.9rem">Kelvin Hoover</span>
        </div>
        <div>
            <span style="color: black;font-size:1.6rem;font-weight:600;font-style:italic">Secrets of .NET and Cloud</span>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <dev class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav ms-auto mb-lg-0 mx-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/summary/Tools">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/summary/FrameworkDesign">Guidance</a>
                </li>
            </ul>
            <div class="d-flex">
                <input class="form-control me-2" placeholder="Search" aria-label="Search" @bind=_searchText>
                <button class="btn btn-outline-dark" @onclick=SearchEvent>Search</button>
            </div>
        </dev>
    </nav>
</header>

@code {
    [Inject]
    private NavigationManager _navManager { get; init; } = null!;

    private string _searchText = string.Empty;

    private void SearchEvent()
    {
        if (_searchText.IsEmpty()) return;

        string searchText = Uri.EscapeDataString(_searchText);
        _navManager.NavigateTo($"search/{searchText}");
    }
}