@using Microsoft.AspNetCore.Components.Authorization;
@using RaceAliveWeb.Application;

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @_userName

        <form method="post" action="/signout" class="d-inline">
            <button class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/signin/Microsoft">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    @inject AuthenticationStateProvider _authenticationStateProvider;
    private string _userName = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var authUser = user.GetAuthUser();
        _userName = authUser?.GetDisplayName() ?? "<unknown>";
    }
}
