@inherits LayoutComponentBase

@* <MudThemeProvider /> *@
<MudThemeProvider Theme="RaceAliveWeb.Application.SunsetTheme.Theme" IsDarkMode=_isDarkMode />
<MudPopoverProvider />

<MudLayout>
    <TopBar DrawerOpen="@_drawerOpen" DrawerToggle="DrawerToggle" />
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    bool _drawerOpen = true;
    bool _isDarkMode = false;

    private Task DrawerToggle(bool state)
    {
        _drawerOpen = state;
        return Task.CompletedTask;
    }
}
