<div class="nav-drawer-header">
    <img src="RaceAliveCompanyLogo.png" alt="Race Alive" class="nav-logo" />
    <span class="mud-typography-h6 nav-drawer-title">Race Alive</span>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavGroup Title="Marathon" Expanded="true">
        <MudNavLink Href=@NavHelper.MarathonCalendarPath Match="NavLinkMatch.Prefix">Calendar</MudNavLink>
        <MudNavLink Href=@NavHelper.MarathonSearchPath Match="NavLinkMatch.Prefix">Search</MudNavLink>
        <MudNavLink Href=@NavHelper.MarathonRankingPath Match="NavLinkMatch.Prefix">Rankings</MudNavLink>
        <MudNavLink Href=@NavHelper.MarathonReviewsPath Match="NavLinkMatch.Prefix">Reviews</MudNavLink>
        <MudNavLink Href=@NavHelper.MarathonOrganizersPath Match="NavLinkMatch.Prefix">Organizers</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Train" Expanded="true">
        <MudNavLink Href="/explore" Match="NavLinkMatch.Prefix">Explore</MudNavLink>
        <MudNavLink Href="/tracking" Match="NavLinkMatch.Prefix">Tracking Progress</MudNavLink>
        <MudNavLink Href="/insights" Match="NavLinkMatch.Prefix">Performance Insights</MudNavLink>
        <MudNavLink Href="/training" Match="NavLinkMatch.Prefix">Training</MudNavLink>
        <MudNavLink Href="/plan" Match="NavLinkMatch.Prefix">Plan</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Explore" Expanded="true">
        <MudNavLink Href="/map" Match="NavLinkMatch.Prefix">Map</MudNavLink>
        <MudNavLink Href="/routes" Match="NavLinkMatch.Prefix">Routes</MudNavLink>
        <MudNavLink Href="/travel" Match="NavLinkMatch.Prefix">Logging and Transportation</MudNavLink>
        <MudNavLink Href="/interest" Match="NavLinkMatch.Prefix">Points of Interest</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Complete" Expanded="true">
        <MudNavLink Href="/leader" Match="NavLinkMatch.Prefix">Leaderboards</MudNavLink>
        <MudNavLink Href="/friends" Match="NavLinkMatch.Prefix">Friends and Groups</MudNavLink>
        <MudNavLink Href="/achievements" Match="NavLinkMatch.Prefix">Achievements</MudNavLink>
        <MudNavLink Href="/challenges" Match="NavLinkMatch.Prefix">Challenges</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>
