<div class="nav-drawer-header">
    <img src="RaceAliveCompanyLogo.png" alt="Race Alive" class="nav-logo" />
    <span class="mud-typography-h6 nav-drawer-title">Race Alive</span>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavGroup Title="Marathon" Expanded="true">
        <MudNavLink Href="/Calendar" Match="NavLinkMatch.Prefix">Calendar</MudNavLink>
        <MudNavLink Href="/Search" Match="NavLinkMatch.Prefix">Search</MudNavLink>
        <MudNavLink Href="/Rankings" Match="NavLinkMatch.Prefix">Rankings</MudNavLink>
        <MudNavLink Href="/Reviews" Match="NavLinkMatch.Prefix">Reviews</MudNavLink>
        <MudNavLink Href="/Organizers" Match="NavLinkMatch.Prefix">Organizers</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>

