<div class="nav-drawer-header">
    <img src="RaceAliveCompanyLogo.png" alt="Race Alive" class="nav-logo" />
    <span class="mud-typography-h6 nav-drawer-title">Race Alive</span>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavGroup Title="Marathon" Expanded="true">
        <MudNavLink Href="/Calendar" Match="NavLinkMatch.Prefix">Calendar</MudNavLink>
        <MudNavLink Href="/Search" Match="NavLinkMatch.Prefix">Search</MudNavLink>
        <MudNavLink Href="/Rankings" Match="NavLinkMatch.Prefix">Rankings</MudNavLink>
        <MudNavLink Href="/Reviews" Match="NavLinkMatch.Prefix">Reviews</MudNavLink>
        <MudNavLink Href="/Organizers" Match="NavLinkMatch.Prefix">Organizers</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Train" Expanded="true">
        <MudNavLink Href="/Explore" Match="NavLinkMatch.Prefix">Explore</MudNavLink>
        <MudNavLink Href="/Tracking" Match="NavLinkMatch.Prefix">Tracking Progress</MudNavLink>
        <MudNavLink Href="/Insights" Match="NavLinkMatch.Prefix">Performance Insights</MudNavLink>
        <MudNavLink Href="/Training" Match="NavLinkMatch.Prefix">Training</MudNavLink>
        <MudNavLink Href="/Plan" Match="NavLinkMatch.Prefix">Plan</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Explore" Expanded="true">
        <MudNavLink Href="/Map" Match="NavLinkMatch.Prefix">Map</MudNavLink>
        <MudNavLink Href="/Routes" Match="NavLinkMatch.Prefix">Routes</MudNavLink>
        <MudNavLink Href="/Travel" Match="NavLinkMatch.Prefix">Logging and Transportation</MudNavLink>
        <MudNavLink Href="/Interest" Match="NavLinkMatch.Prefix">Points of Interest</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Complete" Expanded="true">
        <MudNavLink Href="/Leader" Match="NavLinkMatch.Prefix">Leaderboards</MudNavLink>
        <MudNavLink Href="/Friends" Match="NavLinkMatch.Prefix">Friends and Groups</MudNavLink>
        <MudNavLink Href="/Achievements" Match="NavLinkMatch.Prefix">Achievements</MudNavLink>
        <MudNavLink Href="/Challenges" Match="NavLinkMatch.Prefix">Challenges</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>
