@page "/"
@using TicketShareWeb.Components.Account.Shared
@using TicketShareWeb.Components.Pages.Channels

<PageTitle>Ticket Share</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <AuthorizeView>
        <Authorized>
            <WellcomeCard />
            <AllChannelMessages />

        </Authorized>
        <NotAuthorized>
            <FluentCard Class="card-container" Width="380px">
                <img class="card-image" src="images/Fans.webp">
                <p class="intro-text">
                    Introducing <b>Ticket Share</b>, your go-to platform for connecting with fellow event enthusiasts
                    to share the joy of live events! At Ticket Share, we believe in the power of community and
                    the unforgettable experiences that come from attending live events, whether it's a concert,
                    sports game, theater production, or any other gathering that brings people together.
                    Our platform is designed to make ticket sharing seamless, secure, and social.
                </p>
            </FluentCard>

            <ExternalLoginPicker />

        </NotAuthorized>
    </AuthorizeView>
</FluentStack>
