@using TicketShareWeb.Components.Account.Shared;

<h3>Welcome</h3>

<FluentLabel Typo="Typography.Subject">Log on with one of the following providers...</FluentLabel>

<ExternalLoginPicker />

<div class="agree-text">
    By selecting a logon provider, you agree to these <a href="/">terms and conditions</a> and
    allow Ticket-Share to get your user and tenant details. <a href="/">Ticket-Share Privacy Statement</a>
</div>

@code {

}
