@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@using RaceAliveWeb.Application
@using RaceAliveWeb.Components.Controls

<PageTitle>Home</PageTitle>

<div class="block-container">
    <AuthorizeView>
        <Authorized>
            <BlockInject />
        </Authorized>
        <NotAuthorized>
            <HomeIntro />
            <BlockInject />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
}